:host {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
  padding-top: 100px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 100px;
  padding: 20px;
  gap: 50px;
}
.card-down {
  display: flex;
  flex-direction: column;

  gap: 5px;
  color: var(--primary);
  width: 166px;
}

.sep {
  width: 1px;

  align-self: stretch;
  background-color: var(--border-color);
}
.item:hover {
  outline: 2px solid var(--primary);
}
.item:hover .overlay {
  opacity: 1;
}
.item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.587);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  color: var(--primary-light);
}

.item {
  position: relative;
  overflow: hidden;
  height: 247px;
  width: 165px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.375);
  box-sizing: border-box;
}
/* .card-down.image{
    width: calc((165px *2) + 20px);
}
.card-down.image .item{
    width: calc((165px *2) + 20px);
} */
.add-button {
  background-color: rgba(159, 159, 159, 0.147);
  color: rgb(160, 160, 160);
  box-shadow: inset 3px 3px 15px rgba(0, 0, 0, 0.105);
  padding: 0;
}

.icon-wrap {
  padding: 15px;
  border: 1px solid var(--primary);
}
.img-wrap img {
  height: 100%;
  width: auto;
  object-fit: contain;
}
.card-down .title {
  font-weight: bold;
  color: rgb(97, 97, 97);
  font-size: 16px;

  text-transform: uppercase;
  word-break: break-word;
  overflow-wrap: break-word;
}

.card-down .title2 {
  color: rgb(125, 125, 125);
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}
.card-down .info {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.662);

  text-transform: uppercase;
}
.card-down .info.small {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.662);
  text-transform: uppercase;
  font-weight: 500;
}
.card-down .info-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.local-view {
  .menu-options {
    display: none;
  }
  &.test,
  &:hover {
    .add-icon {
      display: none;
    }
    .menu-options {
      display: grid;
      grid-template-rows: 1fr 1fr;
      padding: 0px;
      flex-grow: 1;
      justify-self: stretch;
      align-self: stretch;
      .btn-link {
        flex-grow: 1;
        width: 100%;
        &:last-child {
          border-top: 4px solid var(--border-color);
        }
        &:hover {
          background-color: var(--primary);
          color: white;
        }
      }
    }
  }
}

.top-menu .btn-link,
.menu-options .btn-link {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  gap: 5px;
  justify-content: center;
  color: var(--primary);
  text-decoration: none;
  align-items: center;
  letter-spacing: 1px;

  padding: 0px;
  margin: 0px;
  transition:
    background-color 0.2s,
    color 0.4s,
    transform 0.4s,
    box-shadow 0.4s;
}
.top-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 0px 20px;
  .btn-link {
    text-decoration: none;
    &:hover {
      color: var(--secondary);
    }
  }
}
@media screen and (max-width: 768px) {
  :host {
    padding-top: 50px;
  }
}
:host {
  ::ng-deep {
    .rd-skeleton {
      border-radius: 4px;
    }
  }
}
