:host {
    height: 100%;
}

.error-icon {
    color: var(--danger);
    margin-bottom: 8px;
}

.status-healthy {
    color: var(--primary);
}

.status-unhealthy {
    color: var(--danger);
}

.status-box {
    border: 1px solid var(--border-color);
    border-radius: 15px;
    margin-bottom: 24px;
}

.status-box h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.status-box .split {
    border-top: 1px solid var(--border-color);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.main-wrap {
    display: grid;
    width: 100%;
    height: 100%;
    place-items: center;
}

.main-wrap .error-message {
    text-align: center;
}

.main-wrap .error-message h3 {
    font-size: 33px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    background: linear-gradient(to right, var(--secondary), var(--primary));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.main-wrap .error-message p {
    margin-bottom: 24px;
    white-space: normal;
    font-weight: 800;
}

.main-wrap .l-window {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-md);
    height: auto;
    border-radius: 28px;
    padding: 40px;
    text-align: center;
}
