.lib-skeleton {
  position: relative;
  overflow: hidden;
}

.lib-skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 150%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
  animation: shine 1.5s infinite ease-in-out;
}

.lib-skeleton.lib-skeleton-circle {
  border-radius: 50%;
}

.lib-skeleton-none::after {
  animation: none;
}

@keyframes lib-skeleton-animation {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}

.lib-skeleton.title {
  height: 24px;
  width: 100px;
}

.lib-skeleton.input {
  height: 48px;
  width: 100px;
}
.lib-skeleton.input1 {
  height: 48px;
  width: 150px;
}
.lib-skeleton.input2 {
  height: 48px;
  width: 250px;
}

.lib-skeleton.input3 {
  height: 48px;
  width: 450px;
}
.lib-skeleton.full {
  height: 48px;
  width: 100%;
}
.lib-skeleton {
  background-color: #e3e3e3;
}

@keyframes shine {
  0% {
    left: -150%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
