:host {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--bg-surface-raised);
  position: relative;
}

.toolbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon::after {
  content: none;
  display: none;
}
@media screen and (max-width: 800px) {
  :host {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    position: relative;
    gap: 10px;
  }
  .toolbar {
    position: static;
    transform: none;
  }
  :host app-main-menu {
    position: absolute;
    top: 18px;
    right: 10px;
  }
}
